<!DOCTYPE html>
<html>
  <head>
    <title>Python</title>
    {% include 'cdnlines.html' %}
  </head>
  <body class="bg-warning">
    <h1 class="text-center"><b><u>C-Language</u></b></h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center"><b>Course Details</b></h1>
          <div class="jumbotron">
            <h5>Course Name    :C</h5>
            <h5>Course Fee     : 3000/-</h5>
            <h5>CourseStartDate:26-04-2023</h5>
            <h5>Course Duration: 2-4 months</h5>
            <h5>Class Timings  : 10.30 am</h5>
            <h5>Course Trainer : Mr.Narashima</h5>
          </div>

        </div>
        <div class="col-md-6">
          <h1 class="text-center"><b>Course Highlights</b></h1>
          <div class="jumbotron">
            <h5>Core C</h5>
            <h5>Advanced C</h5>
            <h5>Mock-Interviews</h5>
            <h5>Main Project</h5>
            <h5>Arithmetic & Reasoning</h5>
            <h5>Assignments & Programming Tests</h5>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center"><b>Course Features</b></h1>
          <div class="jumbotron">
            <h5>Modularity</h5>
            <h5>Statically Type</h5>
            <h5>Fast and Efficient</h5>
            <h5>Easy to Extend</h5>
            <h5>Portability</h5>
            <h5>Procedural Language</h5>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="text-center"><b>Trainer Details</b></h1>
          <div class="jumbotron">
            <h5>Mr.Narashima</h5>
            <h5>C Language</h5>
            <h5>Best Trainer</h5>
            <h5>3+ yrs of Exp</h5>
            <h5>Real Time Expert</h5>
            <h5>good motivator </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><a href="{% url 'java' %}" class="btn btn-outline-secondary">Java</a></div>
        <div class="col-md-4 text-center"><a href="{% url 'mainpage' %}" class="btn btn-secondary">Mainpage</a></div>
        <div class="col-md-4 text-right"><a href="{% url 'mysql' %}" class="btn btn-outline-secondary">MySql</a></div>
      </div>
    </div>
  </body>
</html>
