<!DOCTYPE html>
<html>
  <head>
    <title>Python</title>
    {% include 'cdnlines.html' %}
  </head>
  <body class="bg-dark">
    <h1 class="text-center"style="color:white"><b><u>Python</u></b></h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center" style="color:white"><b>Course Details</b></h1>
          <div class="jumbotron bg-warning">
            <h5>Course Name    :Python</h5>
            <h5>Course Fee     : 15000/-</h5>
            <h5>CourseStartDate:20-04-2023</h5>
            <h5>Course Duration: 5-6 months</h5>
            <h5>Class Timings  : 9.00 am</h5>
            <h5>Course Trainer : Mr.Narayana</h5>
          </div>

        </div>
        <div class="col-md-6">
          <h1 class="text-center" style="color:white"><b>Course Highlights</b></h1>
          <div class="jumbotron bg-primary">
            <h5>Core Python & Advanced Python</h5>
            <h5>Python Modules</h5>
            <h5>Mock-Interviews</h5>
            <h5>Python Project & Main Project</h5>
            <h5>Arithmetic & Reasoning</h5>
            <h5>Assignments & Programming Tests</h5>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center" style="color:white"><b>Course Features</b></h1>
          <div class="jumbotron bg-secondary">
            <h5>Simple Language</h5>
            <h5>Beginers Language</h5>
            <h5>Portable</h5>
            <h5>High-level</h5>
            <h5>Very Rich Modules</h5>
            <h5>Testing</h5>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="text-center" style="color:white"><b>Trainer Details</b></h1>
          <div class="jumbotron bg-info">
            <h5>Mr.Narayana</h5>
            <h5>Python Full-Stack </h5>
            <h5>Best Trainer</h5>
            <h5>10+ yrs of Exp</h5>
            <h5>Real Time Expert</h5>
            <h5>good motivator </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><a href="{% url 'mysql' %}" class="btn btn-outline-success">MySQL</a></div>
        <div class="col-md-4 text-center"><a href="{% url 'mainpage' %}" class="btn btn-success">Mainpage</a></div>
        <div class="col-md-4 text-right"><a href="{% url 'java' %}" class="btn btn-outline-success">Java</a></div>
      </div>
    </div>
  </body>
</html>
